# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
generated_plugin_registrant.dart

# Android
android/.gradle/
android/captures/
android/local.properties
*.iml

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/Runner.xcworkspace

# Web
web/.dart_tool/
web/build/

# VSCode & IntelliJ
.vscode/
.idea/
*.iml

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log
